@media (max-width: 768px) {
  .app {
    .todo-list {
      width: 100%;
    }

    .todo-generator {
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
    }

    .todo-generator button {
      width: 100%;
      margin-top: 16px;
    }
  }

}


@media (min-width: 768px) and (max-width: 1200px) {
  .app {
    .todo-list {
      width: 90%;
      max-width: 900px;
    }

    .todo-item {
      flex-direction: row;
      justify-content: space-between;
    }

    .todo-item-px {
      margin-right: 0;
    }

    .todo-list {
      margin-bottom: 40px;
    }

    .todo-generator {
      margin-top: 48px;
    }

    .todo-generator button {
      width: 140px;
      padding: 10px;
    }

  }
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app>.nav-bar>nav>ul {
  display: flex;
  justify-content: center;
}

.app>.nav-bar>nav>ul>li {
  list-style: none;
  padding: 10px;
}


.todo-list {
  width: 480px;
  text-align: center;
}

.todo-group {
  text-align: left;
}

.todo-item {
  display: flex;
}

.todo-item-px {
  margin-right: 10px;
}

.todo-item div {
  cursor: pointer;
}

.todo-generator {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.todo-generator input {
  width: 100%;
  padding: 8px 16px 8px 16px;
  margin-right: 16px;
  margin-left: 16px;
}

.todo-generator button {
  width: 180px;
}

.task-name.done {
  display: flex;
  justify-content: center;
  text-decoration: line-through;
}

.button-container {
  border: 1px solid #e3e2e2;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.custom-menu {
  width: 221px;
}